body {
    background: rgb(222, 93, 93);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 94vh;
}
.title-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
img{
    width: 70px;
    margin-left: -40px;
    margin-bottom: -45px;
}
form {
    background: white;
    border-radius: 5vh;
    padding: 20px;
    width: 300px;
}
input, button {
    padding: 10px;
    margin-bottom: 10px;
    width: -webkit-fill-available;
}
button {
    cursor: pointer;
}
button:active {
    opacity: 0.8;
}
.clear {
    background: transparent;
    border: none;
}
.solid {
    background: rgb(191, 201, 202);
    border: none;
}
.outline {
    background: transparent;
    color: rgb(231, 76, 60);
    border: 2px solid rgb(231, 76, 60);
}